@font-face {
  font-family: "BrauerNeue";
  src: url(../fonts/BrauerNeueVN-Bold.woff2);
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Regular.woff2);
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "BrauerNeue";
  position: relative;
}

.container {
  max-width: 1200px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 54px;
  color: #2576b9;
  text-align: center;
}

.header {
  position: relative;
  background-image: url(../images/banner-background.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 500px;
  height: calc(100vh + 130px);
}

.header__top {
  padding-top: 40px;
  width: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
}

.header__top--menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__top--menu--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__top--menu--list li {
  margin: 0 4px;
  padding: 16px;
  position: relative;
}

.header__top--menu--list li:first-child {
  margin-left: 0;
}

.header__top--menu--list li:last-child {
  margin-right: 0;
}

.header__top--menu--list li:hover {
  background-color: #ffffff;
  border-radius: 8px 8px 0 0;
}

.header__top--menu--list li:hover a {
  color: #2576b9;
}

.header__top--menu--list li:hover .sub__menu {
  visibility: visible;
}

.header__top--menu--list li a {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.15px;
  color: #ffffff;
}

.header__top--menu--list li .sub__menu {
  background-color: #ffffff;
  z-index: 5;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  min-width: 100%;
  min-height: 100px;
  visibility: hidden;
  left: 0;
  top: 102%;
  border-radius: 0 8px 8px 8px;
  -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
          box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.header__top--menu--list li .sub__menu li {
  padding: 16px;
  margin: 0;
  width: 100%;
}

.header__top--menu--list li .sub__menu li:hover {
  background-color: #e3f0f9;
}

.header__top--menu--list li .sub__menu li:hover a {
  color: #2576b9;
}

.header__top--menu--list li .sub__menu li a {
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.15px;
  color: #263238;
}

.header__top--menu--list li .sub__menu li a.special {
  color: #e94286;
}

.header__top--menu a.header__top--btn {
  border: 1px solid #ffd95c;
  padding: 12px 24px;
  border-radius: 100px;
  background-color: #ffd95c;
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.15px;
  color: #2576b9;
}

.header__banner {
  padding-top: 15vh;
}

.header__banner--item--img {
  margin: auto;
  width: 80vh;
}

.header__banner--item--img img {
  width: 100%;
}

.feedback {
  position: relative;
  background-color: #bcdaf2;
  padding: 72px 0;
  min-height: 600px;
}

.feedback__wave {
  width: 100%;
  position: absolute;
  left: 0;
}

.feedback__wave.top {
  bottom: 100%;
}

.feedback__wave.bottom {
  top: 100%;
  z-index: 2;
}

.feedback__wave img {
  width: 100%;
}

.feedback__title {
  position: relative;
  margin-bottom: 60px;
}

.feedback__title .icon-meteor {
  position: absolute;
  left: 97px;
  top: 50%;
  width: 80px;
}

.feedback__title .icon-meteor img {
  width: 100%;
}

.feedback__title .icon-star {
  position: absolute;
  right: 137px;
  top: 50%;
  width: 80px;
}

.feedback__title .icon-star img {
  width: 100%;
}

.feedback .icon-butterfly {
  width: 400px;
  position: absolute;
  bottom: 40px;
  left: -60px;
  z-index: 5;
}

.feedback .icon-butterfly .smoke__vector {
  position: relative;
  width: 100%;
}

.feedback .icon-butterfly .smoke__vector img {
  width: 100%;
  position: absolute;
  left: -125px;
  z-index: 1;
}

.feedback .icon-butterfly .smoke__vector--hidden {
  position: absolute;
  height: 160px;
  background-color: #bcdaf2;
  right: 20%;
  top: -61px;
  width: 0%;
  z-index: 2;
}

.feedback .icon-butterfly .butterfly__vector {
  width: 100%;
  position: relative;
}

.feedback .icon-butterfly .butterfly__vector img {
  position: absolute;
  z-index: 3;
  width: 15%;
  right: 20%;
  top: -35px;
}

.feedback__main {
  width: 912px;
  margin: auto;
}

.feedback__main--box {
  margin-bottom: 48px;
}

.feedback__main--box .btn-arrow {
  position: absolute;
  top: 50%;
  cursor: pointer;
}

.feedback__main--box .btn-arrow.btn-prev {
  left: -32.5px;
  -webkit-transform: translateX(-32.5px);
          transform: translateX(-32.5px);
}

.feedback__main--box .btn-arrow.btn-next {
  right: -32.5px;
  -webkit-transform: translateX(32.5px);
          transform: translateX(32.5px);
}

.feedback__main--box--item {
  width: 100%;
  position: relative;
  overflow: visible;
}

.feedback__main--box--item .quote {
  position: absolute;
  left: 3%;
  width: 100px;
  top: 0;
}

.feedback__main--box--item .quote img {
  width: 100%;
}

.feedback__main--box--item .content {
  min-height: 256px;
  margin-top: 30px;
  -webkit-box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  background-color: #ffffff;
  padding: 72px 32px;
  font-family: "Montserrat";
  text-align: center;
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  line-height: 28px;
  color: #263238;
  letter-spacing: 0.25px;
}

.feedback__main--nav .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feedback__main--nav .slick-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feedback__main--nav--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 200px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feedback__main--nav--item.slick-center .circle__img {
  width: 208px;
  border-radius: 50%;
  border: 8px solid #2576b9;
}

.feedback__main--nav--item.slick-center .local {
  display: block;
}

.feedback__main--nav--item.slick-center .name {
  display: block;
}

.feedback__main--nav--item .circle__img {
  width: 128px;
}

.feedback__main--nav--item .circle__img img {
  width: 100%;
}

.feedback__main--nav--item .name {
  text-align: center;
  font-family: "BrauerNeue";
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 120%;
  color: #2576b9;
  margin-bottom: 4px;
  margin-top: 16px;
  display: none;
  overflow: visible;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.feedback__main--nav--item .local {
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.25px;
  color: #2576b9;
  display: none;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  overflow: visible;
}

.feedback__main--nav .slick-center {
  width: 245px;
}

.journey {
  overflow: hidden;
  padding-bottom: 100px;
}

.journey__title {
  padding-top: 198px;
  position: relative;
  overflow: hidden;
}

.journey__title .icon-global {
  position: absolute;
  top: 20%;
  right: 5%;
  z-index: 3;
}

.journey__title .icon-star-2 {
  position: absolute;
  z-index: 3;
  top: 0;
  right: 7%;
}

.journey__main {
  margin-top: 36px;
}

.journey__main .journey__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.journey__main .journey__wrapper--tabs {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 70px;
}

.journey__main .journey__wrapper--tabs li {
  color: #2576b9;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  padding: 16px 32px;
  cursor: pointer;
  border: 1px solid #90a4ae;
  border-radius: 40px;
  min-width: 118px;
  text-align: center;
  position: relative;
}

.journey__main .journey__wrapper--tabs li::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 40px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: -1;
}

.journey__main .journey__wrapper--tabs li::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #90a4ae;
  left: 100%;
  top: 50%;
  z-index: -2;
}

.journey__main .journey__wrapper--tabs li:last-child::after {
  position: unset;
}

.journey__main .journey__wrapper--tabs li.activeRightToLeft {
  color: #ffd95c;
}

.journey__main .journey__wrapper--tabs li.activeRightToLeft::before {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #ffffff), color-stop(50%, #2576b9));
  background: linear-gradient(to right, #ffffff 50%, #2576b9 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  -webkit-animation: activeRightToLeft 1s;
          animation: activeRightToLeft 1s;
}

@-webkit-keyframes activeRightToLeft {
  0% {
    background-position: left bottom;
  }
  100% {
    background-position: right bottom;
  }
}

@keyframes activeRightToLeft {
  0% {
    background-position: left bottom;
  }
  100% {
    background-position: right bottom;
  }
}

.journey__main .journey__wrapper--tabs li.activeLeftToRight {
  color: #ffd95c;
}

.journey__main .journey__wrapper--tabs li.activeLeftToRight::before {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #2576b9), color-stop(50%, #ffffff));
  background: linear-gradient(to right, #2576b9 50%, #ffffff 50%);
  background-size: 200% 100%;
  background-position: left botom;
  -webkit-animation: activeLeftToRight 1s;
          animation: activeLeftToRight 1s;
}

@-webkit-keyframes activeLeftToRight {
  0% {
    background-position: right bottom;
  }
  100% {
    background-position: left bottom;
  }
}

@keyframes activeLeftToRight {
  0% {
    background-position: right bottom;
  }
  100% {
    background-position: left bottom;
  }
}

.journey__main .journey__wrapper--tabs li.hiddenRightToLeft::before {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #2576b9), color-stop(50%, #ffffff));
  background: linear-gradient(to right, #2576b9 50%, #ffffff 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  -webkit-animation: hiddenRightToLeft 1s;
          animation: hiddenRightToLeft 1s;
}

@-webkit-keyframes hiddenRightToLeft {
  0% {
    background-position: left bottom;
  }
  100% {
    background-position: right bottom;
  }
}

@keyframes hiddenRightToLeft {
  0% {
    background-position: left bottom;
  }
  100% {
    background-position: right bottom;
  }
}

.journey__main .journey__wrapper--tabs li.hiddenLeftToRight::before {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #ffffff), color-stop(50%, #2576b9));
  background: linear-gradient(to right, #ffffff 50%, #2576b9 50%);
  background-size: 200% 100%;
  background-position: left bottom;
  -webkit-animation: hiddenLeftToRight 1s;
          animation: hiddenLeftToRight 1s;
}

@-webkit-keyframes hiddenLeftToRight {
  0% {
    background-position: right bottom;
  }
  100% {
    background-position: left bottom;
  }
}

@keyframes hiddenLeftToRight {
  0% {
    background-position: right bottom;
  }
  100% {
    background-position: left bottom;
  }
}

.journey__main .journey__wrapper--content {
  width: 100%;
}

.journey__main .journey__wrapper--content--tab {
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.journey__main .journey__wrapper--content--tab.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.journey__main .journey__wrapper--content--tab.tab1 .icon-trophy {
  top: 17%;
  right: 2%;
}

.journey__main .journey__wrapper--content--tab.tab1 .icon-star-3 {
  top: -5%;
  right: 25%;
}

.journey__main .journey__wrapper--content--tab.tab1 .icon-bulb {
  top: 0;
  left: 6%;
}

.journey__main .journey__wrapper--content--tab.tab2 .icon-trophy {
  top: 60%;
  right: -5%;
}

.journey__main .journey__wrapper--content--tab.tab2 .icon-star-3 {
  top: 2%;
  right: 0;
}

.journey__main .journey__wrapper--content--tab.tab2 .icon-bulb {
  top: 90px;
  left: -6%;
}

.journey__main .journey__wrapper--content--tab.tab3 .icon-trophy {
  top: 60%;
  right: 96%;
  -webkit-transform: rotate(-49.28deg);
          transform: rotate(-49.28deg);
}

.journey__main .journey__wrapper--content--tab.tab3 .icon-star-3 {
  top: 2%;
  right: 85%;
  -webkit-transform: rotate(-106.71deg);
          transform: rotate(-106.71deg);
}

.journey__main .journey__wrapper--content--tab.tab3 .icon-bulb {
  top: 0;
  left: 78%;
  -webkit-transform: rotate(80.03deg);
          transform: rotate(80.03deg);
}

.journey__main .journey__wrapper--content--tab.tab4 .icon-trophy {
  top: 60%;
  right: 96%;
  -webkit-transform: rotate(-49.28deg);
          transform: rotate(-49.28deg);
}

.journey__main .journey__wrapper--content--tab.tab4 .icon-star-3 {
  top: 2%;
  right: 85%;
  -webkit-transform: rotate(-106.71deg);
          transform: rotate(-106.71deg);
}

.journey__main .journey__wrapper--content--tab.tab4 .icon-bulb {
  top: 0;
  left: 78%;
  -webkit-transform: rotate(80.03deg);
          transform: rotate(80.03deg);
}

.journey__main .journey__wrapper--content--tab.tab5 .icon-trophy {
  top: 39%;
  right: 95%;
  -webkit-transform: matrix(0.65, -0.76, 0.76, 0.65, 0, 0);
          transform: matrix(0.65, -0.76, 0.76, 0.65, 0, 0);
}

.journey__main .journey__wrapper--content--tab.tab5 .icon-star-3 {
  top: 0%;
  right: 12%;
  -webkit-transform: matrix(0.46, -0.89, 0.89, 0.46, 0, 0);
          transform: matrix(0.46, -0.89, 0.89, 0.46, 0, 0);
}

.journey__main .journey__wrapper--content--tab.tab5 .icon-bulb {
  top: 68%;
  right: -15%;
  -webkit-transform: matrix(0.17, 0.98, -0.98, 0.17, 0, 0);
          transform: matrix(0.17, 0.98, -0.98, 0.17, 0, 0);
}

.journey__main .journey__wrapper--content--tab.tab6 .icon-trophy {
  top: 61%;
  left: -6%;
  -webkit-transform: matrix(0.65, -0.76, 0.76, 0.65, 0, 0);
          transform: matrix(0.65, -0.76, 0.76, 0.65, 0, 0);
}

.journey__main .journey__wrapper--content--tab.tab6 .icon-star-3 {
  top: 2%;
  right: 85%;
  -webkit-transform: rotate(-106.71deg);
          transform: rotate(-106.71deg);
}

.journey__main .journey__wrapper--content--tab.tab6 .icon-bulb {
  top: 42%;
  right: -9%;
  -webkit-transform: matrix(0.17, 0.98, -0.98, 0.17, 0, 0);
          transform: matrix(0.17, 0.98, -0.98, 0.17, 0, 0);
}

.journey__main .journey__wrapper--content--tab.tab7 .icon-trophy {
  top: 52%;
  right: -8%;
  -webkit-transform: matrix(1, -0.09, 0.09, 1, 0, 0);
          transform: matrix(1, -0.09, 0.09, 1, 0, 0);
}

.journey__main .journey__wrapper--content--tab.tab7 .icon-star-3 {
  top: 2%;
  right: 85%;
  -webkit-transform: rotate(-106.71deg);
          transform: rotate(-106.71deg);
}

.journey__main .journey__wrapper--content--tab.tab7 .icon-bulb {
  top: 60%;
  right: 90%;
  -webkit-transform: matrix(0.93, 0.38, -0.38, 0.93, 0, 0);
          transform: matrix(0.93, 0.38, -0.38, 0.93, 0, 0);
}

.journey__main .journey__wrapper--content--tab .wrapper-img {
  width: 50%;
  position: relative;
}

.journey__main .journey__wrapper--content--tab .wrapper-img .content-img {
  width: 100%;
  position: relative;
}

.journey__main .journey__wrapper--content--tab .wrapper-img .content-img img {
  width: 100%;
  height: auto;
}

.journey__main .journey__wrapper--content--tab .wrapper-img .content-img .bg {
  position: absolute;
  content: "";
  top: 2px;
  left: 10px;
  padding: 0 30px;
  z-index: -1;
}

.journey__main .journey__wrapper--content--tab .wrapper-img .icon-trophy,
.journey__main .journey__wrapper--content--tab .wrapper-img .icon-star-3,
.journey__main .journey__wrapper--content--tab .wrapper-img .icon-bulb {
  position: absolute;
  content: "";
}

.journey__main .journey__wrapper--content--tab .wrapper-content {
  width: 45%;
}

.journey__main .journey__wrapper--content--tab .wrapper-content .content--title {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 54px;
  margin-bottom: 47px;
  color: #ffffff;
  text-shadow: #eb9cc3 9px 0px, #eb9cc3 8.5px 0.5px, #eb9cc3 8px 1px, #eb9cc3 7.5px 1.5px, #eb9cc3 7px 2px, #eb9cc3 6.5px 2.5px, #eb9cc3 6px 3px, #eb9cc3 5.5px 3.5px, #eb9cc3 5px 4px, #eb9cc3 4.5px 4.5px, #eb9cc3 4px 5px, #eb9cc3 3.5px 5.5px, #eb9cc3 3px 6px, #eb9cc3 2.5px 6.5px, #eb9cc3 2px 7px, #eb9cc3 1.5px 7.5px, #eb9cc3 1px 8px, #eb9cc3 0.5px 8.5px, #eb9cc3 8.75px 0.25px, #eb9cc3 8.25px 0.75px, #eb9cc3 7.75px 1.25px, #eb9cc3 7.25px 1.75px, #eb9cc3 6.75px 2.25px, #eb9cc3 6.25px 2.75px, #eb9cc3 5.75px 3.25px, #eb9cc3 5.25px 3.75px, #eb9cc3 4.75px 4.25px, #eb9cc3 4.25px 4.75px, #eb9cc3 3.75px 5.25px, #eb9cc3 3.25px 5.75px, #eb9cc3 2.75px 6.25px, #eb9cc3 2.25px 6.75px, #eb9cc3 1.75px 7.25px, #eb9cc3 1.25px 7.75px, #eb9cc3 0.75px 8.25px, #eb9cc3 0.25px 8.75px, #eb9cc3 0.5px 8.5px, #eb9cc3 -0.5px 8.5px, #eb9cc3 -1px 8px, #eb9cc3 -1.5px 7.5px, #eb9cc3 -2px 7px, #eb9cc3 -2.5px 6.5px, #eb9cc3 -3px 6px, #eb9cc3 -3.5px 5.5px, #eb9cc3 -4px 5px, #eb9cc3 -4.5px 4.5px, #eb9cc3 -5px 4px, #eb9cc3 -5.5px 3.5px, #eb9cc3 -6px 3px, #eb9cc3 -6.5px 2.5px, #eb9cc3 -7px 2px, #eb9cc3 -7.5px 1.5px, #eb9cc3 -8px 1px, #eb9cc3 -8.5px 0.5px, #eb9cc3 -0.25px 8.75px, #eb9cc3 -0.75px 8.25px, #eb9cc3 -1.25px 7.75px, #eb9cc3 -1.75px 7.25px, #eb9cc3 -2.25px 6.75px, #eb9cc3 -2.75px 6.25px, #eb9cc3 -3.25px 5.75px, #eb9cc3 -3.75px 5.25px, #eb9cc3 -4.25px 4.75px, #eb9cc3 -4.75px 4.25px, #eb9cc3 -5.25px 3.75px, #eb9cc3 -5.75px 3.25px, #eb9cc3 -6.25px 2.75px, #eb9cc3 -6.75px 2.25px, #eb9cc3 -7.25px 1.75px, #eb9cc3 -7.75px 1.25px, #eb9cc3 -8.25px 0.75px, #eb9cc3 -8.75px 0.25px, #eb9cc3 -8.75px -0.25px, #eb9cc3 -8.25px -0.75px, #eb9cc3 -7.75px -1.25px, #eb9cc3 -7.25px -1.75px, #eb9cc3 -6.75px -2.25px, #eb9cc3 -6.25px -2.75px, #eb9cc3 -5.75px -3.25px, #eb9cc3 -5.25px -3.75px, #eb9cc3 -4.75px -4.25px, #eb9cc3 -4.25px -4.75px, #eb9cc3 -3.75px -5.25px, #eb9cc3 -3.25px -5.75px, #eb9cc3 -2.75px -6.25px, #eb9cc3 -2.25px -6.75px, #eb9cc3 -1.75px -7.25px, #eb9cc3 -1.25px -7.75px, #eb9cc3 -0.75px -8.25px, #eb9cc3 -0.25px -8.75px, #eb9cc3 0.25px -8.75px, #eb9cc3 0.75px -8.25px, #eb9cc3 1.25px -7.75px, #eb9cc3 1.75px -7.25px, #eb9cc3 2.25px -6.75px, #eb9cc3 2.75px -6.25px, #eb9cc3 3.25px -5.75px, #eb9cc3 3.75px -5.25px, #eb9cc3 4.25px -4.75px, #eb9cc3 4.75px -4.25px, #eb9cc3 5.25px -3.75px, #eb9cc3 5.75px -3.25px, #eb9cc3 6.25px -2.75px, #eb9cc3 6.75px -2.25px, #eb9cc3 7.25px -1.75px, #eb9cc3 7.75px -1.25px, #eb9cc3 8.25px -0.75px, #eb9cc3 8.75px -0.25px;
}

.journey__main .journey__wrapper--content--tab .wrapper-content p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.25px;
  color: #000000;
  margin: 32px 0;
}

.vision {
  padding-top: 150px;
  overflow: hidden;
  padding-bottom: 340px;
}

.vision__line {
  width: 92%;
  max-width: 1333px;
  position: relative;
  margin-left: auto;
}

.vision__line .line img {
  width: 100%;
}

.vision__line .icon-rocket {
  position: absolute;
  width: 10%;
  top: -15%;
  right: 95%;
  -webkit-transform: rotate(7deg);
          transform: rotate(7deg);
  opacity: 1;
  z-index: 5;
}

.vision__line .bg--white__line {
  position: absolute;
  width: 100%;
  height: 300px;
  background-color: #ffffff;
  top: -14%;
  right: 96%;
  z-index: 1;
}

.vision__line .icon-balloon {
  position: absolute;
  top: -2%;
  right: 12%;
  width: 10%;
  z-index: 4;
}

.vision__line .icon-balloon img {
  width: 100%;
}

.vision__line .icon-small-star {
  position: absolute;
  top: -5%;
  right: 22%;
}

.vision__line .icon-star-1 {
  position: absolute;
  top: 23%;
  right: 85%;
}

.vision__main {
  position: relative;
  z-index: 3;
  margin-top: -100px;
}

.vision__main--left {
  width: 50%;
}

.vision__main--left--item {
  margin-bottom: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #90a4ae;
}

.vision__main--left--item:last-child {
  border-bottom: 0;
}

.vision__main--left--item .vision__title {
  font-family: "BrauerNeue";
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  text-transform: uppercase;
  letter-spacing: 0.25px;
  color: #90a4ae;
  cursor: pointer;
}

.vision__main--left--item .vision__title.active {
  color: #2576b9;
}

.vision__main--left--item .vision__content {
  position: relative;
  margin-top: 24px;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0.25px;
  color: #2576b9;
  text-shadow: #ffd95c 9px 0px, #ffd95c 8.5px 0.5px, #ffd95c 8px 1px, #ffd95c 7.5px 1.5px, #ffd95c 7px 2px, #ffd95c 6.5px 2.5px, #ffd95c 6px 3px, #ffd95c 5.5px 3.5px, #ffd95c 5px 4px, #ffd95c 4.5px 4.5px, #ffd95c 4px 5px, #ffd95c 3.5px 5.5px, #ffd95c 3px 6px, #ffd95c 2.5px 6.5px, #ffd95c 2px 7px, #ffd95c 1.5px 7.5px, #ffd95c 1px 8px, #ffd95c 0.5px 8.5px, #ffd95c 8.75px 0.25px, #ffd95c 8.25px 0.75px, #ffd95c 7.75px 1.25px, #ffd95c 7.25px 1.75px, #ffd95c 6.75px 2.25px, #ffd95c 6.25px 2.75px, #ffd95c 5.75px 3.25px, #ffd95c 5.25px 3.75px, #ffd95c 4.75px 4.25px, #ffd95c 4.25px 4.75px, #ffd95c 3.75px 5.25px, #ffd95c 3.25px 5.75px, #ffd95c 2.75px 6.25px, #ffd95c 2.25px 6.75px, #ffd95c 1.75px 7.25px, #ffd95c 1.25px 7.75px, #ffd95c 0.75px 8.25px, #ffd95c 0.25px 8.75px, #ffd95c 0.5px 8.5px, #ffd95c -0.5px 8.5px, #ffd95c -1px 8px, #ffd95c -1.5px 7.5px, #ffd95c -2px 7px, #ffd95c -2.5px 6.5px, #ffd95c -3px 6px, #ffd95c -3.5px 5.5px, #ffd95c -4px 5px, #ffd95c -4.5px 4.5px, #ffd95c -5px 4px, #ffd95c -5.5px 3.5px, #ffd95c -6px 3px, #ffd95c -6.5px 2.5px, #ffd95c -7px 2px, #ffd95c -7.5px 1.5px, #ffd95c -8px 1px, #ffd95c -8.5px 0.5px, #ffd95c -0.25px 8.75px, #ffd95c -0.75px 8.25px, #ffd95c -1.25px 7.75px, #ffd95c -1.75px 7.25px, #ffd95c -2.25px 6.75px, #ffd95c -2.75px 6.25px, #ffd95c -3.25px 5.75px, #ffd95c -3.75px 5.25px, #ffd95c -4.25px 4.75px, #ffd95c -4.75px 4.25px, #ffd95c -5.25px 3.75px, #ffd95c -5.75px 3.25px, #ffd95c -6.25px 2.75px, #ffd95c -6.75px 2.25px, #ffd95c -7.25px 1.75px, #ffd95c -7.75px 1.25px, #ffd95c -8.25px 0.75px, #ffd95c -8.75px 0.25px, #ffd95c -8.75px -0.25px, #ffd95c -8.25px -0.75px, #ffd95c -7.75px -1.25px, #ffd95c -7.25px -1.75px, #ffd95c -6.75px -2.25px, #ffd95c -6.25px -2.75px, #ffd95c -5.75px -3.25px, #ffd95c -5.25px -3.75px, #ffd95c -4.75px -4.25px, #ffd95c -4.25px -4.75px, #ffd95c -3.75px -5.25px, #ffd95c -3.25px -5.75px, #ffd95c -2.75px -6.25px, #ffd95c -2.25px -6.75px, #ffd95c -1.75px -7.25px, #ffd95c -1.25px -7.75px, #ffd95c -0.75px -8.25px, #ffd95c -0.25px -8.75px, #ffd95c 0.25px -8.75px, #ffd95c 0.75px -8.25px, #ffd95c 1.25px -7.75px, #ffd95c 1.75px -7.25px, #ffd95c 2.25px -6.75px, #ffd95c 2.75px -6.25px, #ffd95c 3.25px -5.75px, #ffd95c 3.75px -5.25px, #ffd95c 4.25px -4.75px, #ffd95c 4.75px -4.25px, #ffd95c 5.25px -3.75px, #ffd95c 5.75px -3.25px, #ffd95c 6.25px -2.75px, #ffd95c 6.75px -2.25px, #ffd95c 7.25px -1.75px, #ffd95c 7.75px -1.25px, #ffd95c 8.25px -0.75px, #ffd95c 8.75px -0.25px;
}

.vision__main--left--item .vision__content ul {
  list-style: disc;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding-left: 35px;
}

.vision__main--right {
  width: 50%;
  padding-left: 40px;
}

.vision__main--right--box {
  max-width: 472px;
  position: relative;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
}

.vision__main--right--box.active {
  display: block;
}

.vision__main--right--box:nth-child(2) .box__img {
  bottom: 10px;
}

.vision__main--right--box:nth-child(2) .i1 {
  top: 40%;
  left: -11%;
  right: initial;
  -webkit-transform: rotate(-32.63deg);
          transform: rotate(-32.63deg);
}

.vision__main--right--box:nth-child(2) .i2 {
  top: 3%;
  right: 78%;
  -webkit-transform: rotate(-20.41deg);
          transform: rotate(-20.41deg);
}

.vision__main--right--box:nth-child(2) .i3 {
  top: 3%;
  right: -13%;
  left: initial;
  -webkit-transform: rotate(-46.31deg);
          transform: rotate(-46.31deg);
}

.vision__main--right--box:nth-child(2) .i4 {
  bottom: -5%;
  left: 34%;
  -webkit-transform: matrix(-1, 0.01, 0.08, 1, 0, 0);
          transform: matrix(-1, 0.01, 0.08, 1, 0, 0);
}

.vision__main--right--box:nth-child(2) .i5 {
  bottom: 25%;
  left: 91%;
  -webkit-transform: rotate(20.28deg);
          transform: rotate(20.28deg);
}

.vision__main--right--box:nth-child(3) .i1 {
  top: 10%;
  right: -10%;
  left: initial;
}

.vision__main--right--box:nth-child(3) .i2 {
  top: -12%;
  right: 27%;
  -webkit-transform: rotate(2.25deg);
          transform: rotate(2.25deg);
}

.vision__main--right--box:nth-child(3) .i3 {
  bottom: 14%;
  right: -5%;
  -webkit-transform: matrix(0.7, -0.71, 0.71, 0.7, 0, 0);
          transform: matrix(0.7, -0.71, 0.71, 0.7, 0, 0);
}

.vision__main--right--box:nth-child(3) .i4 {
  bottom: -12%;
  left: 15%;
  -webkit-transform: rotate(-25deg);
          transform: rotate(-25deg);
}

.vision__main--right--box:nth-child(3) .i5 {
  bottom: 5%;
  left: -1%;
  -webkit-transform: rotate(-5.74deg);
          transform: rotate(-5.74deg);
}

.vision__main--right--box:nth-child(4) .i1 {
  top: 5%;
  left: -10px;
  right: inherit;
  -webkit-transform: matrix(0.54, -0.84, 0.84, 0.54, 0, 0);
          transform: matrix(0.54, -0.84, 0.84, 0.54, 0, 0);
}

.vision__main--right--box:nth-child(4) .i2 {
  top: 3%;
  right: 4%;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
}

.vision__main--right--box:nth-child(4) .i3 {
  bottom: -6%;
  right: 14%;
  -webkit-transform: matrix(0.7, -0.71, 0.71, 0.7, 0, 0);
          transform: matrix(0.7, -0.71, 0.71, 0.7, 0, 0);
}

.vision__main--right--box:nth-child(4) .i4 {
  bottom: -5%;
  left: 3%;
}

.vision__main--right--box:nth-child(4) .i5 {
  bottom: 25%;
  left: -8%;
  -webkit-transform: matrix(1, -0.08, 0.08, 1, 0, 0);
          transform: matrix(1, -0.08, 0.08, 1, 0, 0);
}

.vision__main--right--box .box__background {
  background-color: #ffd95c;
  width: 100%;
  padding-bottom: 100%;
  border-radius: 50%;
  z-index: -1;
}

.vision__main--right--box .box__img {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.vision__main--right--box .box__img img {
  width: 100%;
  height: auto;
}

.vision__main--right--box .i1,
.vision__main--right--box .i2,
.vision__main--right--box .i3,
.vision__main--right--box .i4,
.vision__main--right--box .i5 {
  position: absolute;
  content: "";
}

.vision__main--right--box .i1 {
  top: -9%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 24%;
  height: 24%;
}

.vision__main--right--box .i2 {
  top: 20%;
  right: -2%;
  width: 16.8%;
}

.vision__main--right--box .i3 {
  bottom: 32%;
  right: -6%;
  width: 22.2%;
}

.vision__main--right--box .i4 {
  bottom: -6%;
  left: -4%;
  width: 62.4%;
}

.vision__main--right--box .i5 {
  bottom: 25%;
  left: -13%;
  width: 16%;
  z-index: 2;
}

.teacher {
  padding: 128px 0 152px;
  background-color: #bcdaf2;
  position: relative;
}

.teacher__wave {
  position: absolute;
  content: "";
  left: 0;
  width: 100%;
}

.teacher__wave img {
  width: 100%;
}

.teacher__wave.top {
  bottom: 99%;
}

.teacher__wave.bottom {
  top: 100%;
}

.teacher__main {
  width: 912px;
  margin: 58px auto 0;
}

.teacher__main--box .btn-arrow {
  position: absolute;
  top: 50%;
  cursor: pointer;
}

.teacher__main--box .btn-arrow.btn-prev {
  left: -32.5px;
  -webkit-transform: translateX(-32.5px);
          transform: translateX(-32.5px);
}

.teacher__main--box .btn-arrow.btn-next {
  right: -32.5px;
  -webkit-transform: translateX(32.5px);
          transform: translateX(32.5px);
}

.teacher__main--box .slick-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.teacher__main--box .teacher__main--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
}

.teacher__main--box .teacher__main--item--img {
  width: 100%;
  height: 100%;
}

.teacher__main--box .teacher__main--item--img .border-img {
  position: relative;
  width: 208px;
  height: 208px;
  overflow: hidden;
  border-radius: 100%;
  margin: auto;
}

.teacher__main--box .teacher__main--item--img .border-img::before, .teacher__main--box .teacher__main--item--img .border-img::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 100%;
  z-index: 5;
}

.teacher__main--box .teacher__main--item--img .border-img.spin::before {
  border: 8px solid transparent;
}

.teacher__main--box .teacher__main--item--img .border-img.spin::after {
  border: 0 solid transparent;
}

.teacher__main--box .teacher__main--item--img .border-img.spin.go::before {
  border-top-color: #2576b9;
  border-right-color: #2576b9;
  border-bottom-color: #2576b9;
  -webkit-transition: border-top-color 0.15s linear, border-right-color 0.15s linear 0.1s, border-bottom-color 0.15s linear 0.2s;
  transition: border-top-color 0.15s linear, border-right-color 0.15s linear 0.1s, border-bottom-color 0.15s linear 0.2s;
}

.teacher__main--box .teacher__main--item--img .border-img.spin.go::after {
  border-top: 8px solid #2576b9;
  border-left-width: 8px;
  border-right-width: 8px;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  transition: transform 0.4s linear 0s, border-left-width 0s linear 0.35s, -webkit-transform 0.4s linear 0s;
}

.teacher__main--box .teacher__main--item--name {
  margin-top: 16px;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 120%;
  color: #2576b9;
}

.teacher__main--box .teacher__main--item--position {
  margin-top: 8px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.25px;
  color: #2576b9;
}

.teacher__main--box .teacher__main--item--description {
  margin-top: 16px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.25px;
  color: #000000;
  text-align: center;
}

.teacher__icon {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.teacher__icon--items {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 0.35;
}

.teacher__icon--items .icon-pen {
  position: absolute;
  content: "";
  top: -8%;
  left: 6%;
  width: 103.53px;
  height: 138.68px;
}

.teacher__icon--items .icon-pen img {
  width: 100%;
}

.teacher__icon--items .icon-pencil {
  position: absolute;
  content: "";
  width: 51.5px;
  height: 69.03px;
  bottom: 10%;
  left: 0%;
}

.teacher__icon--items .icon-pencil img {
  width: 100%;
}

.teacher__icon--items .icon-book {
  position: absolute;
  content: "";
  top: -12%;
  right: 5%;
  width: 116.63px;
  height: 105.12px;
}

.teacher__icon--items .icon-book img {
  width: 100%;
}

.teacher__icon--items .icon-hat {
  position: absolute;
  content: "";
  bottom: -12%;
  right: -2%;
  width: 100px;
  height: 72px;
}

.teacher__icon--items .icon-hat img {
  width: 100%;
}

.teacher__icon--items .icon-magnifying-glass {
  position: absolute;
  content: "";
  bottom: -30%;
  left: 8%;
  width: 88.18px;
  height: 88.18px;
  z-index: 2;
}

.teacher__icon--items .icon-magnifying-glass img {
  width: 100%;
}

.teacher__icon--items .icon-bigstar {
  position: absolute;
  content: "";
  width: 90.04px;
  height: 53.87px;
  top: 57.8%;
  right: 33.3%;
}

.teacher__icon--items .icon-bigstar img {
  width: 100%;
}

.teacher__icon--items .icon-teacher-star1 {
  position: absolute;
  content: "";
  top: -18%;
  right: 34.5%;
  width: 33.88px;
  height: 34.73px;
}

.teacher__icon--items .icon-teacher-star1 img {
  width: 100%;
}

.teacher__icon--items .icon-teacher-star2 {
  position: absolute;
  content: "";
  top: 20%;
  left: 39.5%;
  width: 33.38px;
  height: 34.82px;
}

.teacher__icon--items .icon-teacher-star2 img {
  width: 100%;
}

.teacher__icon--items .icon-teacher-star3 {
  position: absolute;
  content: "";
  top: 57.5%;
  left: 34%;
  width: 34.75px;
  height: 33.77px;
}

.teacher__icon--items .icon-teacher-star3 img {
  width: 100%;
}

.teacher__icon--items .icon-teacher-star4 {
  position: absolute;
  content: "";
  bottom: -20%;
  left: 27.5%;
  width: 38.31px;
  height: 38.31px;
}

.teacher__icon--items .icon-teacher-star4 img {
  width: 100%;
}

.teacher__icon--items .icon-teacher-star5 {
  position: absolute;
  content: "";
  bottom: -16%;
  right: 34.5%;
  width: 33.88px;
  height: 34.72px;
}

.teacher__icon--items .icon-teacher-star5 img {
  width: 100%;
}

.teacher__icon--items .icon-teacher-star6 {
  position: absolute;
  content: "";
  top: 20%;
  right: 8%;
  width: 28.68px;
  height: 28.3px;
}

.teacher__icon--items .icon-teacher-star6 img {
  width: 100%;
}

.teacher__icon--items .icon-teacher-star7 {
  position: absolute;
  content: "";
  width: 25.1px;
  height: 25.1px;
  top: -23%;
  left: 25.5%;
}

.teacher__icon--items .icon-teacher-star7 img {
  width: 100%;
}

.infrastructure {
  padding-top: 224px;
  position: relative;
}

.infrastructure .animated-trophy {
  position: relative;
  height: 100px;
}

.infrastructure .animated-trophy .icon-trophy {
  position: absolute;
  content: "";
  top: -30%;
  left: 8%;
}

.infrastructure .animated-trophy .icon-blue-star1 {
  position: absolute;
  content: "";
  bottom: 0%;
  left: 6.5%;
}

.infrastructure .animated-trophy .icon-blue-star2 {
  position: absolute;
  content: "";
  top: -25%;
  left: 7.2%;
}

.infrastructure .animated__line {
  position: absolute;
  content: "";
  top: 300px;
  left: 0;
  width: 100%;
  height: 100%;
}

.infrastructure .animated__line .infrastructure__line {
  width: 100%;
  position: relative;
  margin-top: 34px;
  overflow: hidden;
  z-index: 2;
}

.infrastructure .animated__line .infrastructure__line .line img {
  width: 100%;
}

.infrastructure .animated__line .infrastructure__line .icon-rocket {
  position: absolute;
  content: "";
  top: 80%;
  left: 100%;
  -webkit-transform: rotate(31.5deg);
          transform: rotate(31.5deg);
  z-index: 5;
}

.infrastructure .animated__line .infrastructure__line .icon-rocket img {
  -webkit-transform: scaleX(-1) rotate(-30deg);
          transform: scaleX(-1) rotate(-30deg);
}

.infrastructure .animated__line .infrastructure__line .icon-star-1 {
  position: absolute;
  content: "";
  top: 26%;
  left: 12%;
  z-index: 2;
}

.infrastructure .animated__line .infrastructure__line .icon-star-2 {
  position: absolute;
  content: "";
  z-index: 2;
  top: 38%;
  left: 87%;
}

.infrastructure .animated__line .infrastructure__line .bg-white-line {
  position: absolute;
  width: 100%;
  height: 400px;
  background-color: #ffffff;
  top: 80%;
  left: 100%;
  z-index: 1;
}
/*# sourceMappingURL=style.css.map */