@import "./fonts/fonts";
@import "./color/colors";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-BrauerNeue;
  position: relative;
}
.container {
  max-width: 1200px;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
.title {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 54px;
  color: $primary__color;
  text-align: center;
}
@import "./layout/header";
@import "./layout/feedback";
@import "./layout/journey";
@import "./layout/vision";
@import "./layout/teacher";
@import "./layout/infrastructure";
