@font-face {
  font-family: "BrauerNeue";
  src: url(../fonts/BrauerNeueVN-Bold.woff2);
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Regular.woff2);
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "BrauerNeue";
  position: relative;
}

.container {
  max-width: 1200px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 54px;
  color: #2576b9;
  text-align: center;
}

.header {
  position: relative;
  background-image: url(../images/banner-background.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 500px;
  height: calc(100vh + 130px);
}

.header__top {
  padding-top: 40px;
  width: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
}

.header__top--menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__top--menu--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__top--menu--list li {
  margin: 0 4px;
  padding: 16px;
  position: relative;
}

.header__top--menu--list li:first-child {
  margin-left: 0;
}

.header__top--menu--list li:last-child {
  margin-right: 0;
}

.header__top--menu--list li:hover {
  background-color: #ffffff;
  border-radius: 8px 8px 0 0;
}

.header__top--menu--list li:hover a {
  color: #2576b9;
}

.header__top--menu--list li:hover .sub__menu {
  visibility: visible;
}

.header__top--menu--list li a {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.15px;
  color: #ffffff;
}

.header__top--menu--list li .sub__menu {
  background-color: #ffffff;
  z-index: 5;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  min-width: 100%;
  min-height: 100px;
  visibility: hidden;
  left: 0;
  top: 102%;
  border-radius: 0 8px 8px 8px;
  -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
          box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.header__top--menu--list li .sub__menu li {
  padding: 16px;
  margin: 0;
  width: 100%;
}

.header__top--menu--list li .sub__menu li:hover {
  background-color: #e3f0f9;
}

.header__top--menu--list li .sub__menu li:hover a {
  color: #2576b9;
}

.header__top--menu--list li .sub__menu li a {
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.15px;
  color: #263238;
}

.header__top--menu--list li .sub__menu li a.special {
  color: #e94286;
}

.header__top--menu a.header__top--btn {
  border: 1px solid #ffd95c;
  padding: 12px 24px;
  border-radius: 100px;
  background-color: #ffd95c;
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.15px;
  color: #2576b9;
}

.header__banner {
  padding-top: 15vh;
}

.header__banner--item--img {
  margin: auto;
  width: 80vh;
}

.header__banner--item--img img {
  width: 100%;
}

.feedback {
  position: relative;
  background-color: #bcdaf2;
  padding: 72px 0;
  min-height: 600px;
}

.feedback__wave {
  width: 100%;
  position: absolute;
  left: 0;
}

.feedback__wave.top {
  bottom: 100%;
}

.feedback__wave.bottom {
  top: 100%;
  z-index: 2;
}

.feedback__wave img {
  width: 100%;
}

.feedback__title {
  position: relative;
  margin-bottom: 60px;
}

.feedback__title .icon-meteor {
  position: absolute;
  left: 97px;
  top: 50%;
  width: 80px;
}

.feedback__title .icon-meteor img {
  width: 100%;
}

.feedback__title .icon-star {
  position: absolute;
  right: 137px;
  top: 50%;
  width: 80px;
}

.feedback__title .icon-star img {
  width: 100%;
}

.feedback .icon-butterfly {
  width: 400px;
  position: absolute;
  bottom: 40px;
  left: -60px;
  z-index: 5;
}

.feedback .icon-butterfly .smoke__vector {
  position: relative;
  width: 100%;
}

.feedback .icon-butterfly .smoke__vector img {
  width: 100%;
  position: absolute;
  left: -125px;
  z-index: 1;
}

.feedback .icon-butterfly .smoke__vector--hidden {
  position: absolute;
  height: 160px;
  background-color: #bcdaf2;
  right: 20%;
  top: -61px;
  width: 0%;
  z-index: 2;
}

.feedback .icon-butterfly .butterfly__vector {
  width: 100%;
  position: relative;
}

.feedback .icon-butterfly .butterfly__vector img {
  position: absolute;
  z-index: 3;
  width: 15%;
  right: 20%;
  top: -35px;
}

.feedback__main {
  width: 912px;
  margin: auto;
}

.feedback__main--box {
  margin-bottom: 48px;
}

.feedback__main--box .btn-arrow {
  position: absolute;
  top: 50%;
  cursor: pointer;
}

.feedback__main--box .btn-arrow.btn-prev {
  left: -32.5px;
  -webkit-transform: translateX(-32.5px);
          transform: translateX(-32.5px);
}

.feedback__main--box .btn-arrow.btn-next {
  right: -32.5px;
  -webkit-transform: translateX(32.5px);
          transform: translateX(32.5px);
}

.feedback__main--box--item {
  width: 100%;
  position: relative;
  overflow: visible;
}

.feedback__main--box--item .quote {
  position: absolute;
  left: 3%;
  width: 100px;
  top: 0;
}

.feedback__main--box--item .quote img {
  width: 100%;
}

.feedback__main--box--item .content {
  min-height: 256px;
  margin-top: 30px;
  -webkit-box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  background-color: #ffffff;
  padding: 72px 32px;
  font-family: "Montserrat";
  text-align: center;
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  line-height: 28px;
  color: #263238;
  letter-spacing: 0.25px;
}

.feedback__main--nav .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feedback__main--nav .slick-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feedback__main--nav--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 200px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feedback__main--nav--item.slick-center .circle__img {
  width: 208px;
  border-radius: 50%;
  border: 8px solid #2576b9;
}

.feedback__main--nav--item.slick-center .local {
  display: block;
}

.feedback__main--nav--item.slick-center .name {
  display: block;
}

.feedback__main--nav--item .circle__img {
  width: 128px;
}

.feedback__main--nav--item .circle__img img {
  width: 100%;
}

.feedback__main--nav--item .name {
  text-align: center;
  font-family: "BrauerNeue";
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 120%;
  color: #2576b9;
  margin-bottom: 4px;
  margin-top: 16px;
  display: none;
  overflow: visible;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.feedback__main--nav--item .local {
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.25px;
  color: #2576b9;
  display: none;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  overflow: visible;
}

.feedback__main--nav .slick-center {
  width: 245px;
}

.vision {
  padding-top: 150px;
  overflow: hidden;
}

.vision__line {
  width: 92%;
  max-width: 1333px;
  position: relative;
  margin-left: auto;
}

.vision__line .line img {
  width: 100%;
}

.vision__line .icon-rocket {
  position: absolute;
  width: 10%;
  top: -15%;
  right: 95%;
  -webkit-transform: rotate(7deg);
          transform: rotate(7deg);
  opacity: 1;
  z-index: 5;
}

.vision__line .bg--white__line {
  position: absolute;
  width: 100%;
  height: 300px;
  background-color: #ffffff;
  top: -14%;
  right: 96%;
  z-index: 1;
}

.vision__line .icon-balloon {
  position: absolute;
  top: -2%;
  right: 12%;
  width: 10%;
  z-index: 4;
}

.vision__line .icon-balloon img {
  width: 100%;
}

.vision__line .icon-small-star {
  position: absolute;
  top: -5%;
  right: 22%;
}

.vision__line .icon-star-1 {
  position: absolute;
  top: 23%;
  right: 85%;
}

.vision__main {
  position: relative;
  z-index: 3;
  margin-top: -100px;
}

.vision__main--left {
  width: 50%;
}

.vision__main--left--item {
  margin-bottom: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #90a4ae;
}

.vision__main--left--item:last-child {
  border-bottom: 0;
}

.vision__main--left--item .vision__title {
  font-family: "BrauerNeue";
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  text-transform: uppercase;
  letter-spacing: 0.25px;
  color: #90a4ae;
}

.vision__main--left--item .vision__title.active {
  color: #2576b9;
}

.vision__main--left--item .vision__content {
  margin-top: 24px;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0.25px;
  color: #2576b9;
  text-shadow: 3px 3px 0 #ffd95c, -3px -3px 0 #ffd95c;
}

.vision__main--right {
  width: 50%;
  padding-left: 40px;
}

.vision__main--right--box {
  max-width: 473px;
  position: relative;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.vision__main--right--box .box__background .bg-yellow {
  background-color: #ffd95c;
  width: 100%;
  padding-bottom: 100%;
  border-radius: 50%;
}

.vision__main--right--box .box__img {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.vision__main--right--box .box__img img {
  width: 80%;
}
/*# sourceMappingURL=style.css.map */