.feedback {
  position: relative;
  background-color: $primary-100__color;
  padding-top: 72px;
  min-height: 600px;
  &__wave {
    width: 100%;
    position: absolute;
    left: 0;

    &.top {
      bottom: 100%;
    }
    &.bottom {
      top: 100%;
    }
    img {
      width: 100%;
    }
  }
  &__title {
    position: relative;
    margin-bottom: 60px;
    .icon-meteor {
      position: absolute;
      left: 97px;
      top: 50%;
      width: 80px;
      img {
        width: 100%;
      }
    }

    .icon-star {
      position: absolute;
      right: 137px;
      top: 50%;
      width: 80px;
      img {
        width: 100%;
      }
    }
  }
  .icon-butterfly {
    width: 400px;
    position: absolute;
    bottom: 28px;
    left: -60px;
    z-index: 5;
    .smoke__vector {
      position: relative;
      width: 100%;
      img {
        width: 100%;
        position: absolute;
        left: -125px;
        z-index: 1;
      }
      &--hidden {
        position: absolute;
        height: 160px;
        background-color: $primary-100__color;
        right: 20%;
        top: -61px;
        width: 0%;
        z-index: 2;
      }
    }
    .butterfly__vector {
      width: 100%;
      position: relative;
      img {
        position: absolute;

        z-index: 3;
        width: 15%;
        right: 20%;
        top: -35px;
      }
    }
  }
  &__main {
    width: 912px;
    margin: auto;
    &--box {
      &--item {
        width: 100%;
        height: 256px;

        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
        border-radius: 16px;
        background-color: $white__color;
        position: relative;
        overflow: visible;
        .quote {
          position: absolute;
          left: 3%;
          width: 100px;
          top: -15%;
          img {
            width: 100%;
          }
        }
        .content {
          padding: 72px 32px;
          font-family: $font-Montserrat;
          text-align: center;
          font-weight: normal;
          font-style: normal;
          font-size: 18px;
          line-height: 28px;
          color: $blue--gray--900__color;
          letter-spacing: 0.25px;
        }
      }
    }
  }
}
