.infrastructure {
  padding-top: 224px;
  position: relative;

  .animated-trophy {
    position: relative;
    height: 70px;
    .icon-trophy {
      position: absolute;
      content: "";
      top: -30%;
      left: 8%;
    }
    .icon-blue-star1 {
      position: absolute;
      content: "";
      top: 4%;
      left: 6.5%;
    }
    .icon-blue-star2 {
      position: absolute;
      content: "";
      top: -25%;
      left: 7.2%;
    }
  }
  .icon-lab {
    position: absolute;
    content: "";
    z-index: 2;
    right: 5%;
    bottom: 10%;
  }
  .animated__line {
    position: absolute;
    content: "";
    top: 300px;
    left: 0;
    width: 100%;
    .infrastructure__line {
      width: 100%;
      position: relative;
      margin-top: 34px;
      overflow: hidden;
      z-index: 2;
      .line {
        img {
          width: 100%;
        }
      }

      .icon-rocket {
        position: absolute;
        content: "";

        top: 80%;
        left: 100%;
        transform: rotate(31.5deg);
        img {
          transform: scaleX(-1) rotate(-30deg);
        }
        z-index: 5;
      }
      .icon-star-1 {
        position: absolute;
        content: "";
        top: 26%;
        left: 12%;
        z-index: 2;
      }
      .icon-star-2 {
        position: absolute;
        content: "";
        z-index: 2;
        top: 38%;
        left: 87%;
      }

      .bg-white-line {
        position: absolute;
        width: 100%;
        height: 400px;
        background-color: $white__color;
        top: 80%;
        left: 100%;
        z-index: 1;
      }
    }
  }
  &__main {
    position: relative;
    width: 912px;
    margin: auto;
    z-index: 5;
    &--for {
      .btn-arrow {
        position: absolute;
        top: 50%;
        cursor: pointer;
        &.btn-prev {
          left: -32.5px;
          transform: translateX(-32.5px);
        }
        &.btn-next {
          right: -32.5px;
          transform: translateX(32.5px);
        }
      }
      &--item {
        height: 432px;
        width: 100%;
        border-radius: 10px;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          border-radius: 10px;
        }
      }
    }
    &--nav {
      margin-top: 16px;
      &--item {
        height: 128px;
        border-radius: 10px;
        padding: 0 4px;
        &.slick-center {
          img {
            border: 8px solid $primary__color;
          }
        }
        img {
          width: 100%;
          height: 100%;
          border-radius: 10px;
        }
      }
    }
  }
}
