.teacher {
  padding: 128px 0 152px;
  background-color: $primary-100__color;
  position: relative;
  &__wave {
    position: absolute;
    content: "";
    left: 0;
    width: 100%;
    img {
      width: 100%;
    }
    &.top {
      bottom: 99%;
    }
    &.bottom {
      top: 100%;
    }
  }
  &__main {
    width: 912px;
    margin: 58px auto 0;
    &--box {
      .btn-arrow {
        position: absolute;
        top: 50%;
        cursor: pointer;
        &.btn-prev {
          left: -32.5px;
          transform: translateX(-32.5px);
        }
        &.btn-next {
          right: -32.5px;
          transform: translateX(32.5px);
        }
      }
      .slick-slide {
        display: flex;
      }
      .teacher__main--item {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 15px;
        &--img {
          width: 100%;
          height: 100%;
          .border-img {
            position: relative;
            width: 208px;
            height: 208px;
            overflow: hidden;
            border-radius: 100%;
            margin: auto;
            &::before,
            &::after {
              position: absolute;
              content: "";
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
              border-radius: 100%;
              z-index: 5;
            }
            &.spin {
              &::before {
                border: 8px solid transparent;
              }
              &::after {
                border: 0 solid transparent;
              }
              &.go {
                &::before {
                  border-top-color: $primary__color;
                  border-right-color: $primary__color;
                  border-bottom-color: $primary__color;

                  transition: border-top-color 0.15s linear,
                    border-right-color 0.15s linear 0.1s,
                    border-bottom-color 0.15s linear 0.2s;
                }
                &::after {
                  border-top: 8px solid $primary__color;
                  border-left-width: 8px;
                  border-right-width: 8px;
                  transform: rotate(270deg);
                  transition: transform 0.4s linear 0s,
                    border-left-width 0s linear 0.35s,
                    -webkit-transform 0.4s linear 0s;
                }
              }
            }
          }
        }
        &--name {
          margin-top: 16px;
          font-style: normal;
          font-weight: bold;
          font-size: 30px;
          line-height: 120%;
          color: $primary__color;
        }
        &--position {
          margin-top: 8px;
          font-family: $font-Montserrat;
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          line-height: 120%;
          letter-spacing: 0.25px;
          color: $primary__color;
        }
        &--description {
          margin-top: 16px;
          font-family: $font-Montserrat;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 140%;
          letter-spacing: 0.25px;
          color: $black__color;
          text-align: center;
        }
      }
    }
  }
  &__icon {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    &--items {
      position: relative;
      width: 100%;
      height: 100%;
      opacity: 0.35;
      .icon-pen {
        position: absolute;
        content: "";
        top: -8%;
        left: 6%;
        width: 103.53px;
        height: 138.68px;
        img {
          width: 100%;
        }
      }
      .icon-pencil {
        position: absolute;
        content: "";
        width: 51.5px;
        height: 69.03px;
        bottom: 10%;
        left: 0%;

        img {
          width: 100%;
        }
      }
      .icon-book {
        position: absolute;
        content: "";
        top: -12%;
        right: 5%;
        width: 116.63px;
        height: 105.12px;
        img {
          width: 100%;
        }
      }
      .icon-hat {
        position: absolute;
        content: "";
        bottom: -12%;
        right: -2%;
        width: 100px;
        height: 72px;
        img {
          width: 100%;
        }
      }
      .icon-magnifying-glass {
        position: absolute;
        content: "";
        bottom: -30%;
        left: 8%;
        width: 88.18px;
        height: 88.18px;
        z-index: 2;
        img {
          width: 100%;
        }
      }
      .icon-bigstar {
        position: absolute;
        content: "";
        width: 90.04px;
        height: 53.87px;
        top: 57.8%;
        right: 33.3%;
        img {
          width: 100%;
        }
      }
      .icon-teacher-star1 {
        position: absolute;
        content: "";
        top: -18%;
        right: 34.5%;
        width: 33.88px;
        height: 34.73px;
        img {
          width: 100%;
        }
      }
      .icon-teacher-star2 {
        position: absolute;
        content: "";
        top: 20%;
        left: 39.5%;
        width: 33.38px;
        height: 34.82px;
        img {
          width: 100%;
        }
      }
      .icon-teacher-star3 {
        position: absolute;
        content: "";
        top: 57.5%;
        left: 34%;
        width: 34.75px;
        height: 33.77px;
        img {
          width: 100%;
        }
      }
      .icon-teacher-star4 {
        position: absolute;
        content: "";
        bottom: -20%;
        left: 27.5%;
        width: 38.31px;
        height: 38.31px;
        img {
          width: 100%;
        }
      }
      .icon-teacher-star5 {
        position: absolute;
        content: "";
        bottom: -16%;
        right: 34.5%;
        width: 33.88px;
        height: 34.72px;
        img {
          width: 100%;
        }
      }
      .icon-teacher-star6 {
        position: absolute;
        content: "";
        top: 20%;
        right: 8%;
        width: 28.68px;
        height: 28.3px;
        img {
          width: 100%;
        }
      }
      .icon-teacher-star7 {
        position: absolute;
        content: "";
        width: 25.1px;
        height: 25.1px;
        top: -23%;
        left: 25.5%;
        img {
          width: 100%;
        }
      }
    }
  }
}
