$white__color: #ffffff;
$primary__color: #2576b9;
$secondary__color: #ffd95c;
$blue--gray--900__color: #263238;
$black__color: #000000;
$blue--gray--300__color: #90a4ae;
$primary-100__color: #bcdaf2;
$pink__color: #e94286;
$light--blue__color: #e3f0f9;
