@font-face {
  font-family: "BrauerNeue";
  src: url(../fonts/BrauerNeueVN-Bold.woff2);
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Regular.woff2);
}
$font-BrauerNeue: "BrauerNeue";
$font-Montserrat: "Montserrat";
